{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TSL2J011EZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TSL2J011EZ');
</script>

<!-- Site Metas -->
{% block metatags %}
<title>PlayReviewHub</title>
<link rel="canonical" href="https://playreviewhub.com" />
<meta name="keywords"
    content="App Game Mod Review">
<meta name="description"
    content="Get the latest reviews and ratings on the newest app games. Find out which games are worth your time with PlayReviewHub. Discover the best app games, read reviews and get expert advice">

<meta property="og:url" content="https://playreviewhub.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="PlayReviewHub" />
<meta property="og:description"
    content="Get the latest reviews and ratings on the newest app games. Find out which games are worth your time with PlayReviewHub. Discover the best app games, read reviews and get expert advice" />
<meta property="og:image" content="https://playreviewhub.com{% static 'favicon.ico' %}" />
<meta name="author" content="Md Marjan Hossain">
{% endblock %}

<!-- Site Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest' %}">

<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'style.css' %}" rel="stylesheet">

<!-- Animate styles for this template -->
<link href="{% static 'css/animate.css' %}" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

<!-- Colors for this template -->
<link href="{% static 'css/colors.css' %}" rel="stylesheet">

<!-- Version Marketing CSS for this template -->
<link href="{% static 'css/version/marketing.css' %}" rel="stylesheet">

<style>
    .custom-navbar {
        display: flex !important;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar-toggler-right {
        top: 0.73rem;
    }

    @media only screen and (max-width: 992px) {
        .custom-navbar {
            align-items: flex-start;
            padding-bottom: 0.5rem;
        }
    }
</style>
</head>

<body>

    <div id="wrapper">
        {% include "snippets/header.html" %}

        {% block content %}

        {% endblock content %}




        {% include "snippets/footer.html" %}
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/animate.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>